body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

/* HEADER */

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-weight: bold;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}  

 .site-navigation .info-active {
  color: #766357;
 }

.site-navigation .hotels-active {
  color: #766357;
}

/* /HEADER */

/* MAIN */

.background-image {
  text-align: center;

  background-color: #ffffff;
  background-image: url("../img/background-mountains.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 568px;
  
}

.filter-form {
  background-color: #ffffff;
  background-image: url("../img/background-inner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.description-container {
  line-height: 26px;
  text-align: center;
} 

.description {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.reasons-list { 
  list-style: none;
} 

.first-reason {
  text-align: center;
  color: #ffffff;

  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}

.first-reason h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.recommendations {
  background-color: #ffffff;
}

.recommendation {
  text-align: center;
}

.recommendation h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.second-reason {
  text-align: center;
  color: #ffffff;

  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}

.second-reason h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.reasons {
  height: 258px;
  background-color: #eeeeee;
}

.reason {
  text-align: center;
}

.reason h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.search {
  line-height: 24px;
  text-align: center;
}

.interested {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
}

.hotel-search-button {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map {
  text-align: center;
}

.filter {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter legend {
  font-size: 16px; 
  font-weight: bold;
}

.filter-list {
  list-style: none;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  
  width: 133px;
  height: 32px;
  background-color: transparent;

  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.sorting p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sorting h4 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a.up-and-down {
  border: none; 
}

.up-button path,
.down-button path {
  fill: #cacaca;
}

.active-button path {
  fill: #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.up-button path:hover,
.down-button path:hover {
  fill: #231f20;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.up-button path:active,
.down-button path:active {
  fill: #81b3d2;
}

.sorting-list a.active {
  color: #81b3d2;
  border: none;
}

.sorting-list a.active:hover,
.sorting-list a.active:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;;
}

.sorting-list a.active:active {
  color: #000000;
  border: none;
}

.hotel-description h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-description h3:hover,
.hotel-description h3:focus {
  color: #81b3d2;
}

.hotel-description h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-hotel {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.button-hotel-more {
  display: inline-block;

  text-align: center;

  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-hotel-more:hover,
.button-hotel-more:focus {
  background-color: #669ec0;
}

.button-hotel-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd
}

.button-hotel-booking {
  display: inline-block;

  text-align: center;

  width: 142px;
  height: 27px;
  background-color: #766357;
}

.button-hotel-booking:hover,
.button-hotel-booking:focus {
  background-color: #604e43;
}

.button-hotel-booking:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.rating p {
  color: #666666;

  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

/* /MAIN */

/* FOOTER */

/*.main-footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}*/

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.social-media-button {
  list-style: none;
}

.social-media-buttons li {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-media-button a {
  display: block;

  text-align: center;

  height: 100%;
}

.social-media-buttons li:hover,
.social-media-buttons li:focus {
  background-color: #669ec0;
}

.social-media-buttons li:active {
  background-color: #5496bd;
}

.social-media-button > a:active img {
  opacity: .3; 
}

.author {
  line-height: 26px;
  color: #000000;
}

.logo-htmlacademy {
  width: 115px;
  height: 41px;
}

.logo-htmlacademy path:hover,
.logo-htmlacademy path:focus {
  fill: #81b3d2;
}

.logo-htmlacademy path:active {
  fill: #bdbbbc;
}

/* /FOOTER */

/* MODAL */

.modal {
  text-align: center;

  width: 570px;
  height: 395px;
  background-color: #ffffff;
}

.search-form .search-item {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.arrival-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.arrival-date:hover {
  background-color: #ebebeb;
}

.arrival-date:focus {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.departure-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.departure-date:hover {
  background-color: #ebebeb;
}

.departure-date:focus {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.date-button {
  fill: #cacaca;
}

.date-button:hover,
.date-burron:focus {
  fill: #000000;
}

.date-button:active {
  fill: #81b3d2;
}

.quantity-button {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.plus,
.minus {
  vertical-align: middle;
}

.number {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* /MODAL */
