body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  width: 100%;
}

/* HEADER */

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-weight: bold;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}  

 .site-navigation .info-active {
  color: #766357;
 }

.site-navigation .hotels-active {
  color: #766357;
}

/* /HEADER */

/* MAIN */

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  background-image: url("../img/background-mountains.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 568px;
  background-size: contain;
}

.background-image img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.filter-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;

  background-color: #ffffff;
  background-image: url("../img/background-inner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  /*width: 100%;*/
  min-height: 273px;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.description-container {
  line-height: 26px;
  text-align: center;

  padding-bottom: 31px;
} 

.description {
  font-size: 21px;
  font-weight: bold;
  color: #000000;

  padding: 35px 350px 0px;
}

.reasons-list { 
  list-style: none;
} 

.first-reason {
  text-align: center;
  color: #ffffff;

  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}

.first-reason h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;

  padding: 25px 133px 0px;
}

.first-reason span {
  padding-top: 10px;
}

.first-reason p {
  width: 287px;
  padding-left: 57px;
  padding-top: 13px;
}

.recommendations {
  background-color: #ffffff;
}

.recommendation {
  text-align: center;

  padding: 0 50px 60px;
}

.recommendation h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.recommendation p {
  width: 300px;
}

.second-reason {
  text-align: center;
  color: #ffffff;

  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}

.second-reason h3 {
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 25px;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;

  width: 151px;
}

.second-reason p {
  padding: 9px 40px;
}

.reasons {
  background-color: #eeeeee;
}

.reason {
  text-align: center;
}

.reason h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.search {
  line-height: 24px;
  text-align: center;
}

.interested {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  margin-bottom: 26px;
}

.button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.hotel-search-button {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map {
  text-align: center;
}

.filter {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter legend {
  font-size: 16px; 
  font-weight: bold;
}

.filter-list {
  list-style: none;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  
  width: 133px;
  height: 32px;
  background-color: transparent;

  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.sorting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 41px;
  padding: 4px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sorting h4 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  display: flex;
  list-style: none;
}

.sorting-list a {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a.up-and-down {
  border: none; 
}

.up-button path,
.down-button path {
  fill: #cacaca;
}

.active-button path {
  fill: #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.up-button path:hover,
.down-button path:hover {
  fill: #231f20;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.up-button path:active,
.down-button path:active {
  fill: #81b3d2;
}

.sorting-list a.active {
  color: #81b3d2;
  border: none;
}

.sorting-list a.active:hover,
.sorting-list a.active:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;;
}

.sorting-list a.active:active {
  color: #000000;
  border: none;
}

.hotel-description h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-description h3:hover,
.hotel-description h3:focus {
  color: #81b3d2;
}

.hotel-description h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-hotel {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.button-hotel-more {
  display: inline-block;

  text-align: center;

  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-hotel-more:hover,
.button-hotel-more:focus {
  background-color: #669ec0;
}

.button-hotel-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd
}

.button-hotel-booking {
  display: inline-block;

  text-align: center;

  width: 142px;
  height: 27px;
  background-color: #766357;
}

.button-hotel-booking:hover,
.button-hotel-booking:focus {
  background-color: #604e43;
}

.button-hotel-booking:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.rating p {
  color: #666666;

  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

/* /MAIN */

/* FOOTER */

/*.main-footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}*/

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  margin-left: 54px;
  margin-top: 74px;
}

.social-media-button {
  list-style: none;
}

.social-media-buttons {
  margin-left: 100px;
  margin-top: 74px;
}

.social-media-buttons ul {
  display: flex;
  
}

.social-media-buttons li {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  cursor: pointer;
}

.social-media-button a {
  display: block;

  text-align: center;
}

.social-media-buttons li:hover,
.social-media-buttons li:focus {
  background-color: #669ec0;
}

.social-media-buttons li:active {
  background-color: #5496bd;
}

.social-media-button > a:active img {
  opacity: 0.3; 
}

.author {
  line-height: 26px;
  color: #000000;
}

.logo-htmlacademy {
  width: 115px;
  height: 41px;
}

.logo-htmlacademy path:hover,
.logo-htmlacademy path:focus {
  fill: #81b3d2;
}

.logo-htmlacademy path:active {
  fill: #bdbbbc;
}

/* /FOOTER */

/* MODAL */

.modal {
  text-align: center;

  width: 570px;
  height: 395px;
  background-color: #ffffff;
}

.search-form .search-item {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.arrival-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.arrival-date:hover {
  background-color: #ebebeb;
}

.arrival-date:focus {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.departure-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.departure-date:hover {
  background-color: #ebebeb;
}

.departure-date:focus {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.date-button {
  fill: #cacaca;
}

.date-button:hover,
.date-burron:focus {
  fill: #000000;
}

.date-button:active {
  fill: #81b3d2;
}

.quantity-button {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.plus,
.minus {
  vertical-align: middle;
}

.number {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* /MODAL */

/* Сеточные стили */

.central-container {
  margin: 0 auto;
  width: 1200px;
}

.main-header {
  position: absolute;

  /* Временно для сетки */
  min-height: 69px;
  background-color: rgba(11, 212, 155, 0.2);
  outline: 4px solid pink;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Временно для сетки */
  /*min-height: 69px;*/
  background-color: rgba(212, 202, 11, 0.2);
  outline: 4px solid pink;
}

.main-header-logo {
  position: absolute;
  z-index: 1;

  width: 138px;
  height: 70px;

  /* Временно для сетки */
  /*display: block;*/
  background-color: rgba(212, 11, 68, 0.2);
  outline: 4px solid pink;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  z-index: 2;

  /*background-color: #ffffff;*/

  width: 1200px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 56px;
  background-color: rgba(31, 11, 212, 0.2);
  outline: 4px solid pink;
}

.site-navigation > li {
  flex-basis: 20%;
  padding: 14px 0 16px 71px;
}

.site-navigation li:nth-child(2) {
  padding: 14px 0 14px 77px;
}

.site-navigation li:nth-child(3) {
  padding: 14px 0 14px 322px;
}

.site-navigation li:last-child {
  padding: 14px 0 14px 120px;
}

.description-container {
  display: flex;
  flex-direction: column;

  /* Временно для сетки */
 /* min-height: 103px;
  background-color: rgba(212, 141, 11, 0.2);
  outline: 4px solid pink;*/

}

.reasons-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
/*  min-height: 1098px;
  background-color: rgba(212, 212, 11, 0.2);
  outline: 4px solid pink;*/
}

/*.first-reason > span {
  position: absolute;
  padding-top: 20px;
}*/

.reason-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  /* Временно для сетки */
 /* min-height: 256px;
  background-color: rgba(212, 11, 212, 0.2);
  outline: 4px solid pink;*/
}

.recommendations {
  display: flex;

  /* Временно для сетки */
  /*min-height: 256px;
  background-color: rgba(135, 212, 11, 0.2);
  outline: 4px solid pink;*/
}

.reason-2 {
  display: flex;
  justify-content: center;

  /* Временно для сетки */
/*  min-height: 256px;
  background-color: rgba(212, 17, 11, 0.2);
  outline: 4px solid pink;*/
}

.reasons {
  display: flex;
  margin-top: -6px;
  margin-bottom: 19px;
  padding-bottom: 46px;


  /* Временно для сетки */
/*  min-height: 256px;
  background-color: rgba(125, 11, 212, 0.2);
  outline: 4px solid pink;*/
}

.reason h3 {
  margin: 0 auto;
  padding: 51px 125px 22px;
}

.reason p {
  margin: 0 auto;
  padding: 25px 85px 9px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0 auto;

  /* Временно для сетки */
  /*min-height: 290px;
  background-color: rgba(6, 56, 17, 0.2);
  outline: 4px solid pink;*/
}

.interested-description {
  margin: 0 400px 45px;
}

.hotel-search-button {
  display: inline-block;
  margin: 0 auto;
}

.map {
  display: flex;

  /* Временно для сетки */
  min-height: 475px;
  background-color: rgba(79, 6, 143, 0.2);
  outline: 4px solid pink;
}

.main-footer {
  display: flex;
  justify-content: center;

  /* Временно для сетки */
  min-height: 121px;
  background-color: rgba(38, 143, 6, 0.2);
  outline: 4px solid pink;
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 968px;

  /* Временно для сетки */
  min-height: 48px;
  background-color: rgba(143, 6, 54, 0.2);
  outline: 4px solid pink;
}

.social-media-buttons {
  display: flex;
  flex-direction: column;

   /*Временно для сетки */
  min-height: 48px;
  background-color: rgba(62, 140, 52, 0.2);
  outline: 4px solid pink;
}

.social-media-buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 152px;
  padding-left: 0 auto;

   /* Временно для сетки */
  min-height: 48px;
  background-color: rgba(62, 140, 52, 0.2);
  outline: 4px solid pink;
}

.social-media-buttons-list a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* Временно для сетки */
  min-height: 28px;
  background-color: rgba(52, 127, 140, 0.2);
  outline: 4px solid pink;
}

.logo-htmlacademy {
  padding-left: 8px;
}

.modal-search {
  display: flex;
  flex-direction: row;

   /* Временно для сетки */
  /*min-height: 574px;
  background-color: rgba(52, 127, 140, 0.2);
  outline: 4px solid pink;*/
}

.search-form {
  position: absolute; 
  padding: 56px;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: 2150px;

   /* Временно для сетки */
  /*min-height: 574px;
  background-color: rgba(52, 127, 140, 0.2);*/
  /*outline: 4px solid pink;*/
}

.search-item-groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.search-item-group {
  display: flex;
  align-items: center;
  margin-bottom: 55px;

  font-weight: bold;
}

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.temporary-container {
  position: relative;
  width: 346px;
}

.temporary-container > a {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.arrival-date {
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.departure-date {
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.quantity-field {
  display: flex;
  flex-direction: row;

}

.number {
  width: 38px;
  height: 36px;
}
.search-button {
  display: inherit;
}

.main-footer-container {
  margin-left: 20px;
  align-items: center;
}


/* for hotels.html */

.main-header-inner {
  position: absolute;

}

.search-results {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.hotel {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-details {
  display: flex;
}

.main-footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;


  /* Временно для сетки*/
  border: 2px solid pink;
  }