body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  width: 100%;
}

/* HEADER */

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-weight: bold;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}  

 .site-navigation .info-active {
  color: #766357;
 }

.site-navigation .hotels-active {
  color: #766357;
}

/* /HEADER */

/* MAIN */

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  background-image: url("../img/background-mountains.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 568px;
  background-size: contain;
}

.background-image img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  background-color: #ffffff;
  background-image: url("../img/background-inner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  /*width: 100%;*/
  min-height: 273px;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.description-container {
  line-height: 26px;
  text-align: center;

  padding-bottom: 36px;
} 

.description {
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  color: #000000;

  padding: 56px 350px 14px;
}

.reasons-list { 
  list-style: none;
} 

.first-reason {
  text-align: center;
  color: #ffffff;

  width: 400px;
  height: 50%;    /*Можно ли здесь использовать высоту в %? Если этот параметр не указать, то блок становится выше, чем нужно и это никак не исправить*/
  min-height: 256px;
  background-color: #81b3d2;
}

.first-reason h3 {
  margin: 0 auto;
  padding: 50px 133px 24px;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;

  
}

.first-reason span {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 22px;
}

.first-reason p {
  margin: 0 auto;
  padding: 0 57px;
}

.recommendations {
  background-color: #ffffff;
}

.recommendation {
  width: 33%;
  text-align: center;

  padding: 0 50px;
}

.recommendation-photo {
  padding-bottom: 26px;
}

.recommendation h4 {
  margin: 0 auto;
  padding-bottom: 10px;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.second-reason {
  text-align: center;
  color: #ffffff;

  width: 400px;
  height: 50%;
  min-height: 256px;
  background-color: #81b3d2;
}

.second-reason h3 {
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 25px;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;

  width: 151px;
}

.second-reason span {
  display: inline-block;
  margin-bottom: 0 auto;
  padding-bottom: 12px;
}

.second-reason p {
  margin: 0 auto;
  padding: 9px 40px;
}

.reasons {
  background-color: #eeeeee;
}

.reason {
  width: 33%;
  text-align: center;
}

.reason h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.search {
  line-height: 24px;
  text-align: center;
}

.interested {
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  margin-bottom: 26px;
}

.button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.hotel-search-button {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map {
  text-align: center;
}

.filter {
  margin: 0 0;
  padding: 0 0;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  border: none;
}

.filter legend {
  font-size: 16px; 
  font-weight: bold;
}

.filter-list {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

.filter-option label {
  cursor: pointer;
}

/*.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  
  width: 133px;
  height: 32px;
  background-color: transparent;

  border: 2px solid #ffffff;
}*/

/*.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}*/

/* Фильтр */

.filter-range {
  width: 319px;
  margin: 53px 70px 0 0;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*/Фильтр*/

.sorting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 41px;
  padding: 4px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
 
  margin: 0 0;
  /*padding-left: 49px;*/
}

.sorting h4 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;

  margin: 0 0;
  /*padding-right: 602px;*/
}

.sorting-list {
  margin: 0 0;
  padding: 0 0;

  display: flex;
  list-style: none;
}

.sorting-list a {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a.up-and-down {
  border: none; 
}

.up-and-down-group {
  list-style: none;
  display: flex;
  margin-left: auto;
}



.up-button path,
.down-button path {
  fill: #cacaca;
}

.active-button path {
  fill: #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.up-button path:hover,
.down-button path:hover {
  fill: #231f20;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.up-button path:active,
.down-button path:active {
  fill: #81b3d2;
}

.sorting-list a.active {
  color: #81b3d2;
  border: none;
}

.sorting-list a.active:hover,
.sorting-list a.active:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;;
}

.sorting-list a.active:active {
  color: #000000;
  border: none;
}

.hotel-description h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-description h3:hover,
.hotel-description h3:focus {
  color: #81b3d2;
}

.hotel-description h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-hotel {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.button-hotel-more {
  display: inline-block;

  text-align: center;

  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-hotel-more:hover,
.button-hotel-more:focus {
  background-color: #669ec0;
}

.button-hotel-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd
}

.button-hotel-booking {
  display: inline-block;

  text-align: center;

  width: 142px;
  height: 27px;
  background-color: #766357;
}

.button-hotel-booking:hover,
.button-hotel-booking:focus {
  background-color: #604e43;
}

.button-hotel-booking:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.rating p {
  color: #666666;

  min-width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

/* /MAIN */

/* FOOTER */

/*.main-footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}*/

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.social-media-button {
  list-style: none;
}

.social-media-buttons {
  margin-left: 100px;
  margin-top: 74px;
}


.social-media-buttons li {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  cursor: pointer;
}

.social-media-button a {
  display: block;

  text-align: center;
}

.social-media-buttons li:hover,
.social-media-buttons li:focus {
  background-color: #669ec0;
}

.social-media-buttons li:active {
  background-color: #5496bd;
}

.social-media-button > a:active img {
  opacity: 0.3; 
}

.author {
  line-height: 26px;
  color: #000000;
}

.logo-htmlacademy {
  width: 115px;
  height: 41px;
}

.logo-htmlacademy path:hover,
.logo-htmlacademy path:focus {
  fill: #81b3d2;
}

.logo-htmlacademy path:active {
  fill: #bdbbbc;
}

/* /FOOTER */

/* MODAL */

.modal {
  text-align: center;

  width: 570px;
  height: 395px;
  background-color: #ffffff;
}

.search-form .search-item {
  margin: 0 auto;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  margin-bottom: 30px;
}

.arrival-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.arrival-date:hover {
  background-color: #ebebeb;
}

.arrival-date:focus {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.departure-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}

.departure-date:hover {
  background-color: #ebebeb;
}

.departure-date:focus {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.date-button {
  fill: #cacaca;
}

.date-button:hover,
.date-burron:focus {
  fill: #000000;
}

.date-button:active {
  fill: #81b3d2;
}

.quantity-button {
  width: 38px;
  height: 38px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.plus,
.minus {
  vertical-align: middle;
}

.number {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  margin-bottom: 53px;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* /MODAL */

/* Сеточные стили */

.central-container {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

.main-header {
  position: absolute;

  /* Временно для сетки */
 /* min-height: 69px;
  background-color: rgba(11, 212, 155, 0.2);
  outline: 4px solid pink;*/
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Временно для сетки */
  /*min-height: 69px;*/
 /* background-color: rgba(212, 202, 11, 0.2);
  outline: 4px solid pink;*/
}

.main-header-logo {
  position: absolute;
  z-index: 1;

  width: 138px;
  height: 70px;

  /* Временно для сетки */
  /*display: block;*/
  /*background-color: rgba(212, 11, 68, 0.2);
  outline: 4px solid pink;*/
}

.main-navigation-wrapper {
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  z-index: 2;

  /*background-color: #ffffff;*/

  width: 1200px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  /*min-height: 56px;
  background-color: rgba(31, 11, 212, 0.2);
  outline: 4px solid pink;*/
}

.site-navigation > li {
  flex-basis: 20%;
}

.site-navigation li:first-child {
  padding: 14px 0 16px 71px;
}

.site-navigation li:nth-child(2) {
  padding: 14px 0 14px 92px;
}

.site-navigation li:nth-child(3) {
  padding: 14px 0 14px 336px;
}

.site-navigation li:last-child {
  padding: 14px 0 14px 100px;
}

.description-container {
  display: flex;
  flex-direction: column;

  /* Временно для сетки */
 /* min-height: 103px;
  background-color: rgba(212, 141, 11, 0.2);
  outline: 4px solid pink;*/

}

.reasons-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
/*  min-height: 1098px;
  background-color: rgba(212, 212, 11, 0.2);
  outline: 4px solid pink;*/
}

/*.first-reason > span {
  position: absolute;
  padding-top: 20px;
}*/

.reason-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;

  /* Временно для сетки */
 /* min-height: 256px;
  background-color: rgba(212, 11, 212, 0.2);
  outline: 4px solid pink;*/
}

.recommendations {
  display: flex;
  padding-bottom: 71px;

  /* Временно для сетки */
  /*min-height: 256px;
  background-color: rgba(135, 212, 11, 0.2);
  outline: 4px solid pink;*/
}

.reason-2 {
  display: flex;
  justify-content: center;

  /* Временно для сетки */
/*  min-height: 256px;
  background-color: rgba(212, 17, 11, 0.2);
  outline: 4px solid pink;*/
}

.reasons {
  display: flex;
  justify-content: space-around;
  margin: -6px 0 51px;
  padding-bottom: 60px;


  /* Временно для сетки */
/*  min-height: 256px;
  background-color: rgba(125, 11, 212, 0.2);
  outline: 4px solid pink;*/
}

.reason h3 {
  margin: 0 auto;
  padding: 49px 125px 25px;
}

.reason span {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 22px;
}

.reason p {
  margin: 0 auto;
  padding: 0 60px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0 auto;

  /* Временно для сетки */
  /*min-height: 290px;
  background-color: rgba(6, 56, 17, 0.2);
  outline: 4px solid pink;*/
}

.interested-description {
  margin: 0 400px 47px;
}

.hotel-search-button {
  display: inline-block;
  margin: 0 auto;
}

.map {
  display: flex;
  min-height: 475px;

  /* Временно для сетки */
/*  background-color: rgba(79, 6, 143, 0.2);
  outline: 4px solid pink;*/
}

.main-footer {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 1200px;
  min-height: 120px;
  background-color: rgba(254, 254, 254, 0.9);

  /* Временно для сетки */
/*  outline: 4px solid pink;*/
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 968px;

  /* Временно для сетки */
 /* min-height: 48px;
  background-color: rgba(143, 6, 54, 0.2);
  outline: 4px solid pink;*/
}

.social-media-buttons {
  display: flex;
  flex-direction: column;
  min-height: 48px;
  margin: 0 auto;
  padding-right: 10px;

   /*Временно для сетки */
  
  /*background-color: rgba(62, 140, 52, 0.2);
  outline: 4px solid pink;*/
}

.social-media-buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0 auto;

   /* Временно для сетки */
/*  min-height: 48px;
  background-color: rgba(62, 140, 52, 0.2);
  outline: 4px solid pink;*/
}

.social-media-buttons-list a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-button {
  margin: 1px 3px 0 3px;
}

.main-footer-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 28px;

  /* Временно для сетки */
  
 /* background-color: rgba(52, 127, 140, 0.2);
  outline: 4px solid pink;*/
}

.logo-htmlacademy {
  padding: 4px 0 0 8px;
}

.modal-search {
  position: absolute; 
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%);
  top: 2170px;

   /* Временно для сетки */
  /*min-height: 574px;
  background-color: rgba(52, 127, 140, 0.2);
  outline: 4px solid pink;*/
}

.search-form {
  padding: 55px 56px 0 56px;
  background-color: #ffffff;
 

   /* Временно для сетки */
  /*min-height: 574px;
  background-color: rgba(52, 127, 140, 0.2);*/
  /*outline: 4px solid pink;*/
}

.search-item-groups {
  display: flex;
  align-items: center;
}

.search-item-group {
  display: flex;
  align-items: center;
  margin-bottom: 53px;

  font-weight: bold;
}

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.temporary-container {
  position: relative;
  width: 346px;
}

.temporary-container > a {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-37%) translateX(1px);
}

.search-item label {
  margin-left: 2px;
}

.arrival-date {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding-left: 12px;
}

.departure-date {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding-left: 12px;
}

.search-item-group label {
  margin-right: 39px;
}

.search-item-group:nth-child(2) label {
  margin: 0 auto;
  margin: 0 27px 0 54px;
}

.quantity-field {
  margin: 0 auto;
  display: flex;
  flex-direction: row;

}

.number {
  width: 38px;
  height: 36px;
}
.search-button {
  display: inherit;
}

.main-footer-container {
  margin-left: 30px;
  align-items: center;
}


/* for hotels.html */

.main-header-inner {
  position: absolute;

}

.filter-input-checkbox {
  display: none;
}

.filter-input-checkbox:checked + label:before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  width: 27px;
  height: 27px;
  margin-right: 20px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox + label:before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  width: 27px;
  height: 27px;
  margin-right: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.search-results {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.hotel {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-details {
  display: flex;
}

.main-footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;


  /* Временно для сетки*/
  border: 2px solid pink;
  }